/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');


.homepage {
  margin-top: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h1 {
  font-style: italic;
  font-family: cursive;
}

.timer-hm {
  border: 1px solid black;
  padding: 5px;
  color: whitesmoke;
  background-color: yellowgreen;
}

.snackbar-hm {
  border: 1px solid black;
  color: whitesmoke;
  background-color: lightcoral;
  padding: 5px;
}